* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  width: 100%;
  height: 100%;
}

div#globalContainer {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  font-family: 'Press Start 2P', cursive;
  font-size: 2.6vh;
  color: #999;
  background-color: #28221f ;

}
#mainScreen {
  text-shadow: 0 -1px 0 rgba(3, 3, 3, 0.8), 0 1px 0 rgba(255, 255, 255, 0.8);
  background-image: url('../assets/ui/title_screen2.png');
  background-size: 50% auto;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.titre {
  width: 90%;
  height: auto;
  display: block;
  text-align: center;
  margin: 20px auto;
}
.logoGGJ {
  width: 12%;
  display: block;
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.ligne {
  position: absolute;
  width: 80%;
  left: 10%;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.ligne button {
  margin: 0 20px;
}

#levelSelectionScreen #history p {
  width: 80%;
  margin: 10px auto;
  text-align: justify;
}

div#globalContainer > div h1 {
  margin: 40px 0 20px;
  display: inline-block;
  width: 100%;
  text-align: center;
}

div#globalContainer > div h2 {
  margin: 20px 0;
  display: inline-block;
  width: 100%;
  text-align: center;
}

div#globalContainer > div p,
div#globalContainer > div ul {
  font-family: sans-serif;
  margin: 20px 0;
}

div p {
  text-align: center;
}

button {
  border: none;
  font-family: 'Press Start 2P', cursive;
  margin: 10px;
  color: yellow; /* #999;*/
  text-shadow: 0 -1px 0 rgba(3, 3, 3, 0.8), 0 1px 0 rgba(255, 255, 255, 0.8);
  font-size: 20px;
  padding: 20px;
  background: transparent;
  border: solid 2px yellow;
  cursor: pointer;
}

button:hover {
  text-shadow: 0 -1px 0 rgba(3, 3, 3, 0.8), 0 1px 0 rgba(255, 255, 255, 0.8), 0 5px 15px #C33;
 /* color: #AAA;
*/  padding: 19px 20px 21px;
}

button:focus {
  text-shadow: 0 -1px 0 rgba(3, 3, 3, 0.8), 0 1px 0 rgba(255, 255, 255, 0.8), 0 0 5px #4C2;
}

button:active {
  text-shadow: 0 -1px 0 rgba(3, 3, 3, 0.8), 0 1px 0 rgba(255, 255, 255, 0.8), 0 5px 15px #C33;
  color: #AAA;
  padding: 21px 20px 19px;
}

#scoresButton {
  display: none;
}

div#globalContainer {
  z-index: -2;
}

div#globalContainer > div {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

div#globalContainer > div#progressBar {
  height: 10px;
  bottom: 0;
  top: initial;
  display: block;
  background: darkblue;
  width: 0;
  z-index: 10;
}

div#gameScreen canvas {
  border: 0;
  margin: 0;
  background: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 960px;
  height: 540px;
  z-index: -1;
}
div#gameScreen canvas {
    width: 90vw;
    height: calc(90vw * (54 / 96));
}

div#gameScreen button {
  display: none;
}

div#pauseScreen button {
  z-index: 20;
}
/*
div#gameScreen canvas {
  -webkit-clip-path: circle(40.7% at 50% 50%);
  clip-path: circle(40.7% at 50% 50%);
}
*/

.auteurs {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  width: 50%;
  margin: 20px auto;
}


div#howtoPlay {
  display: none;
}


div#globalContainer div#pauseScreen {
  border: solid 2px red;
  background-color: #28221f;
  width: 60%;
  position: absolute; 
  left: 20%;
  top: 10%;
  border-radius: 10%;
  height: 80%;
}


#howtoPlay p {
  font-size: 2.5vh;
  height: auto;
  position: absolute; 
}

#howtoPlay img {
  width: 90%;
  border: solid 1px white;
}

#howtoPlay p:nth-child(2) {
  left: 3vw;
  width: 33vh;
  top: 19vh;
}
#howtoPlay p:nth-child(3) {
  left: 28vw;
  width: 49vh;
  top: 40vh;
}
#howtoPlay p:nth-child(4) {
  width: 33vw;
  right: 2vw;
  top: 27vh;
}
#howtoPlay p:nth-child(4) > img {
  height: 8vh;
  margin: 0 2px;
  width: auto;
}

#howtoPlay p:nth-child(5) {
  width: 42vh;
  right: 1vw;
  bottom: 3vh;
}
#howtoPlay p:nth-child(6) {
  width: 24vh;
  left: 1vw;
  bottom: 5vh;
}
